 <script>
$(function() {
$( "#datepicker" ).datepicker({
changeMonth: true,
changeYear: true
});
});
</script>

<div id="user_form">
   <h2>Sign Up!</h2>
   <%= form_for(@user) do |f| %>
        <%= f.text_field :name, placeholder: "Username*" %>
	
	<%= f.email_field :email, placeholder: "Email*" %>
        
	<%= f.text_field :first_name, placeholder: "First Name*" %>

	<%= f.text_field :last_name, placeholder: "Last Name*" %>

	<input class="text" id="datepicker" name="user[birthday]" placeholder = "Birthday*"/>

        <%= f.password_field :password, placeholder: "Password*" %>

        <%= f.password_field :password_confirmation, placeholder: "Confirm Password*" %>

	<%= f.text_field :gender %>

 	<%= f.submit "Create", class: "signup_button" %>
    <% end %>
</div>

