<!DOCTYPE html>
<%= render "layouts/before_header" %>
<html>
<head>
<%= render "layouts/headspot" %>
</head>
<body> 
<%= render "layouts/header" %>
<div class="container" >
<%= yield %>
<%= render "layouts/footer" %>
</div>
</body>
</html>
